# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Databases & Vector store data
*.db
*.sqlite3
data/
chroma_db/

# Node
frontend/node_modules/
frontend/dist/
.npm
*.log

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
.DS_Store
